LLM/wandb/
LLM/data/external_datasets/
LLM/data/datasets/
LLM/checkpoint*
LLM/final_*
LLM/CheungGuanaco.pkl
LLM/runpodctl
LLM/PhilArchive.jsonl
LLM/tune_eval.sh
LLM/semantic_scholar/
LLM/data/train_test_datasets/run_1_Cheung/
LLM/results/
Annotation/sample_images/
LLM/evaluation/
LLM/data/from_synthetic/
LLM/data/train_test_datasets/
