langdetect==1.0.9
numpy==1.24.4
pandas==2.0.3
peft==0.4.0
sentence_transformers==2.2.2
torch==2.0.1
tqdm==4.65.0
transformers
wandb
datasets
accelerate==0.21.0
bitsandbytes==0.40.2
transformers==4.31.0
